*{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
/* .course-cards-container {
    display: flex; 
  } */

.card{
    margin: 0.4em .4em;
    width: calc(100/3);
}

<<<<<<< HEAD
=======
.course-cards-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if container has a height) */
    flex-wrap: wrap; /* Allows cards to wrap onto multiple lines if needed */
    gap: 10px; /* Optional: space between cards */
}

/* .card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px; 
    text-align: center; 
} */


/* .fixed-sidebar{
    background-color: #49516C;
} */
>>>>>>> 53bcc9e509dbf7ddb71ea0d500b41cccb87ad122

nav > .navbar .navbar-expand-lg .navbar-light .bg-light{
    box-shadow: #49516C;
}

.fixed-sidebar {
    background-color: #49516C;
    height: auto;
}
.nav-item {
    margin: 10px 0; /* Add spacing between items */
}

.sidebar-icon {
    margin-bottom: 5px; /* Space between icon and text */
}

.main-content {
    background: linear-gradient(135deg, #CA8332, #A1342C);
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group {
    margin-top: 20px;
}
.btn-primary {
    background-color: #0056b3;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  .btn-primary:hover {
    background-color: #004494;
  }

<<<<<<< HEAD


  .question-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 30px;
  }
  .question-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .question-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
  }
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .option-input {
    margin-right: 10px;
  }
  .option-label {
    font-size: 16px;
    color: #444;
  }


.content-sidebar {
    width: 250px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-course-content{
    padding: 20px;
}
=======
  .test-case-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .test-case-column {
    width: 30%;
    padding: 10px;
  }
  
>>>>>>> 53bcc9e509dbf7ddb71ea0d500b41cccb87ad122
